<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Api" value="http://192.168.102.1:8080/"/>
    <add key="URLGETFE" value="pruebas/index.php/cu3facturaelectronica/getFacturas"/>
    <add key="URLGETNC" value="pruebas/index.php/cu3facturaelectronica/getNotasCredito"/>    
    <add key="URLFC" value="pruebas/index.php/cu3facturaelectronica/getFactura/nf/"/>
    <add key="URLNC" value="pruebas/index.php/cu3facturaelectronica/getNotaCredito/nc/"/>
    
    <add key="tokenEmpresa" value="5288b0621f424a49b6c4f9750a3fd1e5b4884da9"/>
    <add key="tokenAuthorizacion" value="de0e20662a20462ba64bcbdf6405e6e9ac842849"/>

    <add key="ConnectionFox" value="D:\Empresas\Empresas\SDA\SiasoftVFP9218052021\SiasoftVFP92\empresas\EMP010\CO.SIA"/>
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" maxReceivedMessageSize = "1000000"/>
        <binding name="BasicHttpsBinding_IService" maxReceivedMessageSize = "1000000">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IService1" maxReceivedMessageSize = "1000000"/>
        <binding name="BasicHttpsBinding_IService1" maxReceivedMessageSize = "1000000">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://demoemision21.thefactoryhka.com.co/ws/adjuntos/Service.svc?wsdl"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService"
        contract="ServiceAdjuntos.IService" name="BasicHttpsBinding_IService"/>

      <endpoint address="https://demoemision21v4.thefactoryhka.com.co/ws/v1.0/Service.svc?wsdl"
         binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService1"
        contract="ServiceEnvio.IService" name="BasicHttpsBinding_IService1"/>
    </client>
  </system.serviceModel>
</configuration>